[MASTER]
ignore-paths=estate_project/domain/entities/address.py,
             estate_project/domain/entities/real_estate.py,
             estate_project/main.py

[TYPECHECKING]
generated-members=pydantic.BaseModel
